@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins' , sans-serif;
    scroll-behavior: smooth;
}

p
{
    font-weight: 300;
    color: #111;
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg\ alt1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .content
{
    max-width: 900px;
    text-align: center;
    
}
.banner .content h2
{
    font-size: 5em;
    color: #fff;
}
.banner .content p
{
    font-size: 1em;
    color: #fff;
    
}
.btn
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 20px;
    
}
.btn:hover
{
    letter-spacing: 6px;
}
header
{
    position: fixed;
    /* top: 0; */
    /* bottom: 0; */
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    
    
}
header.sticky
{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    
    padding: 10px 100px;
    box-shadow:0 25px 20px rgba(0,0,0,0.05) ;
    transition: 0.5s;
}
header.sticky .logo
{
    color: #111;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header .logo span
{
    color: #ff0157;
}
header .navigation
{
    position: relative;
    display: flex; 
}
header li
{
    list-style: none;
    margin-left: 30px;
    
}
header li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
header.sticky .navigation li a 
{
    color: #111;
}
header .navigation li a:hover
{
    color: #ff0157;
}
section
{
    padding: 50px;
    padding-bottom: 0;
}

.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: solid red; */
    
}
.row .col50
{
    position: relative;
    width: 50%;
}
.titleText
{
    color: #111;
    font-weight: 500;
    font-size: 2em;
}
.titleText span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.col50 .row .imgBx
{
    position: relative;
    width: 500px;
    /* min-height: 600px; */
    height: 100%;
    
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 80%;
    object-fit: contain;
    /* border: solid red; */
    
}
.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.menu .content .box
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.8);
    
    
}
.menu .content
{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    
}
.menu .content .box .imgBx
{
    
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content h3
{
    margin-top: 10px;
}
.experts .content
{
    
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    padding: 50px;
    
}
.experts .content .box 
{
    position: relative;
    width: 250px;
    margin: 30px;
    
    
}

.experts .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
}

.experts .content .box .imgBx img
{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experts h3
{
    
    text-align: left;
    font-weight: 400;
    color: #111;
}
.testemonials
{
    background: url(bg2.jpg);
    background-size: cover;
    
}
.White .titleText,
.White p

{
    color: #fff;
}
.testemonials .content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    
}
.testemonials .content .box
{
    width: 340px;
    
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 35px black;
}
.testemonials .content .box .imgBx
{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50px;
    overflow: hidden;
    
    
    
}
.testemonials .content .box .imgBx img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testemonials.content .box .text{
    text-align: center;
}
.testemonials .content .box .text p
{
    color: #666;
    font-style: italic;
}
.testemonials .content .box .text h3
{
    margin-top: 20px;
    color: #ff0157;
    font-weight: 600;
    font-size: 1em;
    
    
}
.contact
{
    background: url(bg3.jpg);
    
    /* border: solid red; */
    background-size: cover;
    margin-top: 50px
}
.contactform
{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 550px;
    margin-top: 50px;
    max-height: 450px;
    
    
}
.contactform h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
    
}
.contactform .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .inputBox input[type="submit"]
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    
}
.copyright
{
    margin-top: 50px;
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copyright p
{
    color: #333;
}
.copyright a
{
    color: #ff0157;
    text-decoration: none;
    font-weight: 500;
    
}
@media(max-width: 1365px)
{
    .row
    {
        
        flex-direction: column;
    }
    .row .col50
    {
        position: relative;
        width: 100%;
    }
    .row p 
    {
        font-size: 20px;
    }
    .col50 .row .imgBx
    {
        height: 400px;
        /* margin-top: 75px;
        margin-left: 170px; */
    }
}
@media (max-width: 991px)
{
    
    header,
    header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation 
    {
        display: none;
        
    }
    header .navigation.active
    
    {   
        
        width: 100%;
        height: 710px;
        position: fixed;
        background: #fff;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    header .navigation li
    {
        margin-left: 0;

    }
    header li a {
       
        color: #111;
        font-size: 1.6em;
        
        
    }
    header .menutoggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        /* border: solid red; */
        cursor: pointer;
        
    }
    .menutoggle.active
    {
        background: url(close.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }
    .sticky .menutoggle
    {
        filter: invert();
    }
    .sticky .menutoggle.active
    {
        filter: invert();
    }
    section
    {
        padding: 20px;
    }
    .banner .content h2
    {
        font-size: 3em;
        color: #fff;
    }
    .row
{
    
    flex-direction: column;
}
.row .col50
{
    position: relative;
    width: 100%;
}
.row p 
{
    font-size: 20px;
}
.row .col50 .imgBx img
{
    width: 70%;
}
section 
{
    padding-bottom: 0;
}
.menu
{
    padding-top: 0;
}
.menu .content {
    margin-top: 20px;
}
.menu .content .box
{
    margin : 10px;
}
.menu .content .box .imgBx
{
height: 260px;
}

.title
{
    text-align: center;
}
.titleText
{
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    
    
}
.experts .content
{
    margin-top: 0;
    padding: 11px;
}
.experts .content .box{
    margin: 30px;
}
.testemonials
{
    margin-top: 35px;
}

.testemonials .content .box{
    
    margin-top: 20px;
    padding: 20px;
}

}
/* @media (max-width:519px)
{
    body{
       width: 520px; 
    }
} */
